/* carousel.css
 * 
 * Kevin Whalen
 * 3/19/13
.jcarousel {
*/

.jcarousel {
	position: relative;
	overflow: hidden;

	height: 120px;
	width: 350px;/*330*/
	display: inline-block;
}

.jcarousel ul {
	width: 20000em;
	position: absolute;
	list-style: none;
	margin: 0;
	padding: 0;

	background: none repeat scroll 0% 0% rgb(240, 246, 249);
	border: 1px solid rgb(52, 111, 151);
}

.jcarousel li {
	padding-left: 10px;
	float: left;
	height: 120px;
}

#carouselWarp {
	position: relative;
	height: 120px;
	max-width: 500px;
}

.prev {
	display: inline-block;
	float: left;

	position: relative;
	top: 40px;
}
.next {
	display: inline-block;
	float: right;
	padding-left: 10px;

	position: absolute;
	top: 40px;
}

